[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-ms-wmv
Icon=video
Patterns=*.avi;*.AVI;*.wmv;*.WMV;
Comment=Microsoft AVI Video
Comment[ar]=ميكروسوفت AVIفيديو
Comment[br]=Video Microsoft AVI
Comment[ca]=Vídeo AVI de Microsoft
Comment[cy]=Fideo Microsoft AVI
Comment[de]=AVI-Video (Microsoft)
Comment[el]=Βίντεο Microsoft AVI
Comment[es]=Vídeo AVI de Microsoft
Comment[fi]=Microsoft AVI -video
Comment[fr]=Vidéo AVI Microsoft
Comment[ga]=Físeán Microsoft AVI
Comment[hi]=माइक्रोसॉफ्ट एवीआई वीडियो
Comment[hu]=Microsoft AVI videó
Comment[it]=Video Microsoft AVI
Comment[nl]=Microsoft AVI-video
Comment[pt]=Vídeo Microsoft AVI
Comment[pt_BR]=Vídeo AVI Microsoft
Comment[sr]=Microsoft-ов AVI видео
Comment[sr@Latn]=Microsoft-ov AVI video
Comment[sv]=Microsoft AVI-video
Comment[ta]=மைக்ரோசாஃப்ட் ஏவீஐ ஒளித்தோற்றம்
Comment[tr]=Microsoft AVI Görüntü
Comment[xx]=xxMicrosoft AVI Videoxx
Comment[zh_CN]=微软 AVI 视频
