[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-ms-wmp
Icon=video
Patterns=*.wmp;*.WMP;
Comment=Microsoft AVI Video
Comment[be]=Microsoft AVI відэа
Comment[bg]=Microsoft AVI видео
Comment[cs]=Microsoft AVI video
Comment[de]=AVI-Video (Microsoft)
Comment[el]=Βίντεο Microsoft AVI
Comment[es]=Vídeo AVI de Microsoft
Comment[fr]=Vidéo AVI Microsoft
Comment[ga]=Físeán Microsoft AVI
Comment[gl]=Vídeo en Microsoft AVI
Comment[ja]=Microsoft AVI ビデオ
Comment[km]=វីដេអូ Microsoft AVI
Comment[nb]=Microsoft AVI-video
Comment[nds]=AVI-Video (Microsoft)
Comment[nl]=Microsoft AVI-video
Comment[pt]=Vídeo Microsoft AVI
Comment[pt_BR]=Vídeo Microsoft AVI
Comment[sv]=Microsoft AVI-video
Comment[th]=รูปแบบวิดีโอ AVI ของ Microsoft
Comment[tr]=Microsoft AVI Görüntü
Comment[uk]=Відео Microsoft AVI
Comment[x-test]=xxMicrosoft AVI Videoxx
Comment[zh_CN]=Microsoft AVI 视频
