Source: kmplayer
Section: kde
Priority: optional
Maintainer: Koos Vriezen <koos.vriezen@xs4all.nl>
Build-Depends: debhelper (>= 4.0.0), kdelibs4-dev, libxine-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev
Standards-Version: 3.6.0

Package: kmplayer
Architecture: all
Section: sound
Depends: kmplayer-lib (>= ${Source-Version}), kmplayer-app (>= ${Source-Version}), kmplayer-plugin (>= ${Source-Version})
Description: KMPlayer metapackage

Package: kmplayer-lib
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Description: KMPlayer shared library

Package: kmplayer-app
Architecture: any
Section: sound
Depends: kmplayer-lib (= ${Source-Version})
Description: KMPlayer stand-alone application
 Basic audio/video viewer application for KDE.

Package: kmplayer-plugin
Architecture: any
Section: sound
Depends: kmplayer-lib (= ${Source-Version})
Description: KMPlayer plugin for khtml/konqueror
 This plugin enables audio/video playback inside konqueror, such as
 movie trailers, web tv or radio.

Package: kmplayer-i18n
Architecture: any
Section: sound
Depends: kmplayer-lib (= ${Source-Version})
Description: All internationalized (i18n) files for KMPlayer.

Package: kmplayer-doc
Architecture: any
Section: sound
Depends: kmplayer-app (= ${Source-Version})
Description: Handbook for KMPlayer.
