[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-ms-wma
Icon=audio
Patterns=*.AVI;*.wma;*.WMA;
Comment=Microsoft Audio
Comment[bg]=Microsoft аудио
Comment[br]=Klevet Microsoft
Comment[ca]=Àudio de Microsoft
Comment[cs]=Microsoft audio
Comment[el]=Ήχος Microsoft
Comment[es]=Audio de Microsoft
Comment[fr]=Audio Microsoft (WMA)
Comment[he]=שמע של מיקרוסופט
Comment[hi]=माइक्रोसॉफ्ट ऑडियो
Comment[hu]=Microsoft Audio fájl
Comment[ja]=Microsoft オーディオ
Comment[ka]=Microsoft აუდიო
Comment[mk]=Мајкрософт аудио
Comment[nb]=Microsoft-lydformat
Comment[pa]=ਮਾਈਕਰੋਸਾਫਟ ਆਡੀਓ
Comment[pt]=Áudio Microsoft
Comment[pt_BR]=Áudio da Microsoft
Comment[sr]=Microsoft-ов аудио
Comment[sr@Latn]=Microsoft-ov audio
Comment[sv]=Microsoft ljud
Comment[ta]=மைக்ரோசாஃப்ட் கேட்பொலி
Comment[tr]=Microsoft Ses
Comment[uk]=Microsoft аудіо
Comment[xx]=xxMicrosoft Audioxx
Comment[zh_CN]=微软音频
