[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-ms-wma
Icon=audio
Patterns=*.AVI;*.wma;*.WMA;
Comment=Microsoft Audio
Comment[el]=Ήχος Microsoft
