[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-ms-wma
Icon=audio
Patterns=*.AVI;*.wma;*.WMA;
Comment=Microsoft Audio
Comment[be]=Microsoft аўдыё
Comment[bg]=Microsoft аудио
Comment[cs]=Microsoft audio
Comment[el]=Ήχος Microsoft
Comment[es]=Audio de Microsoft
Comment[fr]=Audio Microsoft
Comment[ga]=Fuaim Microsoft
Comment[ja]=Microsoft オーディオ
Comment[km]=អូឌីយ៉ូ Microsoft
Comment[ku]=Pela Dengê ji Microsoft 
Comment[nb]=Microsoft-lyd
Comment[nds]=Microsoft-Audio
Comment[pa]=ਮਾਈਕਰੋਸਾਫਟ ਆਡੀਓ
Comment[pt]=Áudio Microsoft
Comment[pt_BR]=Áudio Microsoft
Comment[sv]=Microsoft ljud
Comment[th]=รูปแบบเสียงของ Microsoft
Comment[tr]=Microsoft Ses
Comment[x-test]=xxMicrosoft Audioxx
Comment[zh_CN]=Microsoft 音频
