[Desktop Entry]
Encoding=UTF-8
Name=Embedded MPlayer for KDE
Name[be]=Убудаваны MPlayer для KDE
Name[bg]=Вграден MPlayer за KDE
Name[cs]=MPlayer pro KDE
Name[csb]=Wbùdowóny MPlayer dlô KDE
Name[da]=Indlejret MPlayer til KDE
Name[de]=Eingebetteter MPlayer für KDE
Name[el]=Ενσωμάτωση του MPlayer για το KDE
Name[en_GB]=Embedded MPlayer for KDE
Name[es]=MPlayer embebido para KDE
Name[et]=KDE põimitud MPlayer
Name[fr]=MPlayer intégré pour KDE
Name[ga]=MPlayer leabaithe le haghaidh KDE
Name[gl]=MPlayer incorporado para KDE
Name[hne]=केडीई बर भीतर मं बने एमप्लेयर
Name[hu]=Beágyazott KDE Mplayer
Name[it]=MPlayer integrato per KDE
Name[ja]=KDE のための埋め込み MPlayer
Name[km]=MPlayer បង្កប់​សម្រាប់ KDE
Name[ko]=KDE를 위한 포함된 MPlayer
Name[ku]=MLêdar ji bo KDE
Name[lv]=Iegultais MPlayer priekš KDE
Name[nb]=Innebygget MPlayer for KDE
Name[nds]=Inbett MPlayer för KDE
Name[nl]=Ingebedde MPlayer voor KDE
Name[pa]=KDE ਲਈ ਇੰਬੈੱਡ M-ਪਲੇਅਰ
Name[pl]=Wybudowany MPlayer dla KDE
Name[pt]=MPlayer Incorporado para o KDE
Name[pt_BR]=MPlayer incorporado para o KDE
Name[ro]=MPlayer încorporat pentru KDE
Name[ru]=Встроенный MPlayer для KDE
Name[sr]=Угнежђени М‑плејер за КДЕ
Name[sr@ijekavian]=Угнијежђени М‑плејер за КДЕ
Name[sr@ijekavianlatin]=Ugniježđeni MPlayer za KDE
Name[sr@latin]=Ugnežđeni MPlayer za KDE
Name[sv]=Inbäddad Mplayer för KDE
Name[th]=ตัวเล่นสื่อ MPlayer แบบฝังตัวได้สำหรับ KDE
Name[tr]=KDE için gömülü MPlayer
Name[uk]=Вбудований MPlayer для KDE
Name[x-test]=xxEmbedded MPlayer for KDExx
Name[zh_CN]=KDE 嵌入式 MPlayer
Comment=Video player plugin (QuickTime, XMovie, Windows Media and RealPlayer compatible)
Comment[be]=Утулка прайгравання відэа (сумяшчальны з QuickTime, XMovie, Windows Media і RealPlayer)
Comment[bg]=Приставка за видео плеър (QuickTime, XMovie, Windows Media и RealPlayer съвместима)
Comment[cs]=Modul video přehrávače (kompatibilní s QuickTime, XMovie, Windows Media a RealPlayer)
Comment[csb]=Wtëkôcze grôcza wideò (zgódno z QickTime, XMovie, Windows Media ë RealPlayer)
Comment[da]=Videoafspiller-plugin (kompatibelt med QuickTime, XMovie, Windows Media og RealPlayer)
Comment[de]=Video-Wiedergabemodul (Kompatibel zu QuickTime, XMovie, Windows Media und RealPlayer)
Comment[el]=Πρόσθετο αναπαραγωγής βίντεο (συμβατό με QuickTime, XMovie, πολυμέσα Windows και RealPlayer)
Comment[en_GB]=Video player plugin (QuickTime, XMovie, Windows Media and RealPlayer compatible)
Comment[es]=Complemento de reproducción de vídeo (compatible con QuickTime, XMovie, Windows Media y RealPlayer)
Comment[et]=Videomängija plugin (QuickTime, XMovie, Windows Media ja RealPlayer)
Comment[fr]=Module externe de lecteur vidéo (compatible avec QuickTime, XMovie, Windows Media et RealPlayer)
Comment[ga]=Breiseán seinnte físe (a ghlacann le formáidí QuickTime, XMovie, Windows Media agus RealPlayer)
Comment[gl]=Extension de reprodución de vídeo (compatíbel con Quicktime, XMovie, Windows Media e RealPlayer)
Comment[hu]=Videó lejátszó plugin (QuickTime, XMovie, Windows Media és RealPlayer kompatibilis)
Comment[it]=Estensione per lettura video (compatibile con QuickTime, XMovie, Windows Media e RealPlayer)
Comment[ja]=動画プレーヤープラグイン (QuickTime, XMovie, Windows Media, RealPlayer をサポート)
Comment[km]=កម្មវិធី​ជំនួយ​របស់​កម្មវិធីចាក់​វីដេអូ (QuickTime, XMovie, Windows Media and RealPlayer ដែល​ឆបគ្នា)
Comment[ko]=동영상 재생기 플러그인 (QuickTime, XMovie, Windows Media 및 RealPlayer 호환)
Comment[ku]=Pêvekên lêdarê vîdeoyê (bi QuickTime, XMovie, Windows Media û RealPlayer re lihevhatî ye)
Comment[lv]=Video atskaņotāja spraudnis (QuickTime, XMovie, Windows Media un RealPlayer saderīgs)
Comment[nb]=Tilleggsprogram for videospiller (kompatibel med QuickTime, XMovie, Windows Media og RealPlayer)
Comment[nds]=Videoafspeel-Moduul (Kompatibel to QuickTime, XMovie, Windows Media un RealPlayer)
Comment[nl]=Videospelerplugin (ondersteuning voor Quicktime, XMovie, Windows Media- en RealAudio-speler)
Comment[pa]=ਵੀਡਿਓ ਪਲੇਅਰ ਪਲੱਗਇਨ (QuickTime, XMovie, Windows Media ਅਤੇ RealPlayer ਅਨੁਕੂਲ)
Comment[pl]=Wtyczka odtwarzacza wideo (kompatybilna z QuickTime, XMovie, Windows Media oraz RealPlayer)
Comment[pt]='Plugin' de reprodução de vídeo (compatível com QuickTime, XMovie, Windows Media e RealPlayer)
Comment[pt_BR]=Plug-in de reprodução de vídeo (compatível com QuickTime, XMovie, Windows Media e RealPlayer)
Comment[ro]=Modul de redare video (compatibil cu QuickTime, XMovie, Windows Media și RealPlayer)
Comment[ru]=Модуль видеоплеера (совместимый с QuickTime, XMovie, Windows Media и RealPlayer)
Comment[sr]=Прикључак за пуштање видеа (сагласан са Квиктајмом, Икс‑филмом, Виндоуз медијом и Рилплејером)
Comment[sr@ijekavian]=Прикључак за пуштање видеа (сагласан са Квиктајмом, Икс‑филмом, Виндоуз медијом и Рилплејером)
Comment[sr@ijekavianlatin]=Priključak za puštanje videa (saglasan sa QuickTimeom, X‑filmom, Windows Medijom i RealPlayerom)
Comment[sr@latin]=Priključak za puštanje videa (saglasan sa QuickTimeom, X‑filmom, Windows Medijom i RealPlayerom)
Comment[sv]=Insticksprogram för videospelare (fungerar med Quicktime, Xmovie, Windows Media och Realplayer)
Comment[th]=ส่วนเสริมตัวเล่นวิดีโอ (ใช้ด้วยกันได้กับ QuickTime, XMovie, Windows Media และ RealPlayer)
Comment[tr]=Video oynatıcı eklentisi (QuickTime, XMovie, Windows Media ve RealPlayer uyumlu)
Comment[uk]=Додаток відтворення відео (QuickTime, XMovie, Windows Media і сумісних з RealPlayer)
Comment[x-test]=xxVideo player plugin (QuickTime, XMovie, Windows Media and RealPlayer compatible)xx
Comment[zh_CN]=视频播放器插件(兼容 QuickTime、XMovie、Windows Media 和 RealPlayer)
X-KDE-Library=libkmplayerpart
# Keep in sync with the audio types in kmplayer.desktop
MimeType=application/ogg;application/smil;application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-kmplayer;application/x-mplayer2;application/x-ogg;application/xspf+xml;audio/basic;audio/m3u;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-aiff;audio/x-flac;audio/x-m3u;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-mpegurl;audio/x-ms-asx;audio/x-ms-wma;audio/x-musepack;audio/x-mod;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/avi;video/mediaplayer;video/mp4;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-flic;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmp;video/x-ms-wmv;video/x-ogm;video/x-theora;uri/mms;uri/pnm;uri/rtspt;uri/rtspu;
Type=Service
Icon=kmplayer
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View,KMediaPlayer/Player
X-KDE-BrowserView-PluginsInfo=kmplayer/pluginsinfo
InitialPreference=9
