[Desktop Entry]
Encoding=UTF-8
Name=Embedded MPlayer for KDE
Name[ca]=MPlayer eencastat per a KDE
Name[da]=Indlejret MPlayer for KDE
Name[de]=Eingebetteter MPlayer für KDE
Name[el]=Ενσωματωμένος MPlayer για το KDE
Name[es]=MPlayer embebido para KDE
Name[et]=KDE põimitud MPlayer
Name[fi]=Upotettu MPlayer KDE:lle
Name[fr]=MPlayer intégré pour KDE
Name[hi]=केडीई हेतु एम्बेडेड एमप्लेयर
Name[hu]=Beágyazott MPlayer a KDE-hez
Name[it]=MPlayer integrato per KDE
Name[nl]=Ingebedde MPlayer voor KDE
Name[pt]=MPlayer Embebido para o KDE
Name[pt_BR]=MPlayer Integrado ao KDE
Name[sr]=Уграђени mplayer за KDE
Name[sv]=Inbäddad Mplayer för KDE
Name[tr]=KDE için gömülmüş MPlayer
Name[xx]=xxEmbedded MPlayer for KDExx
Name[zh_CN]=KDE 的内嵌 MPlayer
X-KDE-Library=libkmplayerpart
# Keep in sync with the audio types in kmplayer.desktop
MimeType=audio/x-mp3;audio/x-ms-wma;audio/x-pn-realaudio;audio/x-vorbis;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
Type=Service
Icon=kmplayer
ServiceTypes=KParts/ReadOnlyPart,Browser/View,KMediaPlayer/Player
InitialPreference=9
