[Desktop Entry]
Encoding=UTF-8
Name=KMPlayer
Name[hi]=केएमप्लेयर
Name[hu]=KMPLayer
Name[sv]=Kmplayer
Name[ta]=கேஎம்இயக்கி
Name[xx]=xxKMPlayerxx
X-KDE-Library=libkmplayerkofficepart
MimeType=audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
Type=Service
Icon=kmplayer
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart,Browser/View,KMediaPlayer/Player
X-KDE-NativeMimeType=application/x-kmplayer
InitialPreference=9
