# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmplayer -caption "%c" %i %m  
Icon=kmplayer.png
DocPath=kmplayer/index.html
Comment=KDE interface for MPlayer
Comment[da]=KDE-grænseflade for MPlayer
Comment[el]=KDE περιβάλλον χρήσης για το MPlayer
Comment[es]=Interfaz KDE para MPlayer
Comment[fr]=Une interface de MPlayer pour KDE
Comment[nl]=KDE-interface voor MPlayer
Comment[pt]=Interface KDE para o MPlayer
Comment[pt_BR]=Interface do KDE para o MPlayer
Comment[sv]=KDE-gränssnitt för Mplayer
Terminal=0
Name=KMPlayer
Name[sv]=Kmplayer
MimeType=audio/x-mp3;audio/x-vorbis;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
Terminal=0
InitialPreference=7
