[Desktop Entry]
Type=Application
Exec=kmplayer -caption "%c" %i %U
Icon=kmplayer
X-DocPath=kmplayer/index.html
Comment=KDE interface for MPlayer
Comment[be]=KDE інтэрфейс да MPlayer
Comment[bg]=KDE интерфейс за MPlayer
Comment[ca]=Interfície del KDE per l'MPlayer
Comment[cs]=KDE rozhraní pro MPlayer
Comment[csb]=Interfejs KDE dlô MPlayer
Comment[da]=KDE-brugerflade til MPlayer
Comment[de]=KDE-Oberfläche für MPlayer
Comment[el]=Περιβάλλον χρήσης του MPlayer για το KDE
Comment[en_GB]=KDE interface for MPlayer
Comment[es]=Interfaz KDE para MPlayer
Comment[et]=KDE MPlayeri liides
Comment[fr]=Interface KDE pour MPlayer
Comment[ga]=Comhéadan MPlayer le haghaidh KDE
Comment[gl]=Interface de KDE para o MPlayer
Comment[hne]=एमप्लेयर बर केडीई इंटरफेस
Comment[hu]=KDE MPlayer interfész
Comment[it]=Interfaccia KDE per MPlayer
Comment[ja]=MPlayer の KDE インターフェース
Comment[km]=ចំណុច​ប្រទាក់ KDE សម្រាប់ MPlayer
Comment[ko]=KDE MPlayer 인터페이스
Comment[ku]=Navrûyê KDE ji bo MLêdar
Comment[lv]=KDE MPlayer interfeiss
Comment[nb]=KDE-grensesnitt for MPlayer
Comment[nds]=KDE-Koppelsteed för MPlayer
Comment[nl]=KDE-interface voor MPlayer
Comment[pa]=M-ਪਲੇਅਰ ਲਈ KDE ਇੰਟਰਫੇਸ
Comment[pl]=Interfejs KDE do MPlayera
Comment[pt]=Interface KDE para o MPlayer
Comment[pt_BR]=Interface KDE para o MPlayer
Comment[ro]=Interfață KDE pentru MPlayer
Comment[ru]=Интерфейс KDE для MPlayer
Comment[sr]=КДЕ сучеље за М‑плејер
Comment[sr@ijekavian]=КДЕ сучеље за М‑плејер
Comment[sr@ijekavianlatin]=KDE sučelje za MPlayer
Comment[sr@latin]=KDE sučelje za MPlayer
Comment[sv]=KDE-gränssnitt för Mplayer
Comment[th]=ระบบติดต่อผู้ใช้ของ MPlayer บน KDE 
Comment[tr]=MPlayer için KDE arayüzü
Comment[uk]=KDE-інтерфейс для MPlayer
Comment[x-test]=xxKDE interface for MPlayerxx
Comment[zh_CN]=MPlayer 的 KDE 界面
Comment[zh_TW]=MPlayer 的 KDE 介面
Terminal=false
Name=KMPlayer
Name[be]=KMPlayer
Name[bg]=KMPlayer
Name[ca]=KMPlayer
Name[cs]=KMPlayer
Name[csb]=KMPlayer
Name[da]=KMPlayer
Name[de]=KMPlayer
Name[el]=KMPlayer
Name[en_GB]=KMPlayer
Name[es]=KMPlayer
Name[et]=KMPlayer
Name[fr]=KMPlayer
Name[ga]=KMPlayer
Name[gl]=KMPlayer
Name[hi]=केएम-प्लेयर
Name[hne]=केएम-प्लेयर
Name[hr]=KMPlayer
Name[hu]=KMPlayer
Name[it]=KMPlayer
Name[ja]=KMPlayer
Name[km]=KMPlayer
Name[ko]=KMPlayer
Name[ku]=KMLêdar
Name[lv]=KMPlayer
Name[mai]=KMPlayer
Name[nb]=KMPlayer
Name[nds]=KMPlayer
Name[nl]=KMPlayer
Name[pa]=KM-ਪਲੇਅਰ
Name[pl]=KMPlayer
Name[pt]=KMPlayer
Name[pt_BR]=KMPlayer
Name[ro]=KMPlayer
Name[ru]=KMPlayer
Name[sr]=КМ‑плејер
Name[sr@ijekavian]=КМ‑плејер
Name[sr@ijekavianlatin]=KMPlayer
Name[sr@latin]=KMPlayer
Name[sv]=Kmplayer
Name[th]=KMPlayer
Name[tr]=KMPlayer
Name[uk]=KMPlayer
Name[x-test]=xxKMPlayerxx
Name[zh_CN]=KMPlayer
Name[zh_TW]=KMPlayer
MimeType=application/ogg;application/smil;application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-kmplayer;application/x-mplayer2;application/x-ogg;application/xspf+xml;audio/basic;audio/m3u;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-aiff;audio/x-flac;audio/x-m3u;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-mpegurl;audio/x-ms-asx;audio/x-ms-wma;audio/x-musepack;audio/x-mod;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/avi;video/flv;video/mediaplayer;video/mp4;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/webm;video/x-avi;video/x-flic;video/x-matroska;video/x-ms-asf;video/x-flv;video/x-msvideo;video/x-ms-wmp;video/x-ms-wmv;video/x-ogm;video/x-theora;uri/mms;uri/pnm;uri/rtspt;uri/rtspu;
InitialPreference=7
Categories=Qt;KDE;AudioVideo;
GenericName=Media Player
GenericName[be]=Медыяпрайгравальнік
GenericName[bg]=Медия плеър
GenericName[ca]=Reproductor de suports
GenericName[cs]=Přehrávač médií
GenericName[csb]=Mùltimedialny grôcz
GenericName[da]=Medieafspiller
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγή πολυμέσων
GenericName[en_GB]=Media Player
GenericName[es]=Reproductor de medios
GenericName[et]=Meediafailide mängija
GenericName[fr]=Lecteur multimédia
GenericName[ga]=Seinnteoir Meán
GenericName[gl]=Reprodutor multimedia
GenericName[hi]=मीडिया-प्लेयर
GenericName[hne]=मीडिया-प्लेयर
GenericName[hu]=Média Lejátszó
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[ko]=미디어 재생기
GenericName[ku]=Medya Lêdar
GenericName[lv]=Mediju atskaņotājs
GenericName[mai]=मीडिया-प्लेयर
GenericName[nb]=Mediespiller
GenericName[nds]=Medienafspeler
GenericName[nl]=Mediaspeler
GenericName[oc]=Media Player
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz audio/wideo
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor de mídias
GenericName[ro]=Media Player
GenericName[ru]=Медиаплеер
GenericName[sr]=Медија плејер
GenericName[sr@ijekavian]=Медија плејер
GenericName[sr@ijekavianlatin]=Medija plejer
GenericName[sr@latin]=Medija plejer
GenericName[sv]=Mediaspelare
GenericName[th]=โปรแกรมเล่นสื่อ
GenericName[tr]=Medya Oynatıcı
GenericName[uk]=Програвач
GenericName[x-test]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
GenericName[zh_TW]=媒體播放器
