[Desktop Entry]
Encoding=UTF-8
Name=KMPlayer
Name[sv]=Kmplayer
GenericName=KMPlayer
GenericName[sv]=Kmplayer
X-KDE-Library=kparts_kmplayer
MimeType=audio/x-mp3;audio/x-vorbis;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;
Type=Service
Icon=kmplayer
ServiceTypes=KOfficePart,KParts/ReadOnlyPart,KParts/ReadWritePart,Browser/View,KMediaPlayer/Player
X-KDE-NativeMimeType=application/x-kmplayer
InitialPreference=9
