<?xml version="1.0"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<kpartgui name="kmplayer" version="24">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="open"/>
    <Action name="new_window"/>
    <Action name="open_recent"/>
    <Action name="save_as"/>
    <Action name="clear_history"/>
    <Separator/>
    <Action name="source_pipe"/>
    <Menu name="vdr"><text>VD&amp;R</text>
      <Action name="vdr_connect"/>
      <Action name="vdr_key_up"/>
      <Action name="vdr_key_down"/>
      <Action name="vdr_key_back"/>
      <Action name="vdr_key_ok"/>
      <Action name="vdr_key_setup"/>
      <Action name="vdr_key_channels"/>
      <Action name="vdr_key_menu"/>
      <Action name="vdr_key_red"/>
      <Action name="vdr_key_green"/>
      <Action name="vdr_key_yellow"/>
      <Action name="vdr_key_blue"/>
      <Action name="vdr_key_custom"/>
    </Menu>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="view_video"/>
    <Action name="view_playlist"/>
    <Action name="view_minimal"/>
    <Action name="view_fullscreen"/>
    <Menu name="zoom"><text>&amp;Zoom</text>
      <Action name="view_zoom_50"/>
      <Action name="view_zoom_100"/>
      <Action name="view_zoom_150"/>
    </Menu>
    <Action name="view_keep_ratio"/>
    <Separator />
    <Action name="play"/>
    <Action name="pause"/>
    <Action name="stop"/>
    <Separator />
    <Action name="find"/>
    <Action name="next"/>
    <Separator />
    <Action name="edit_mode"/>
    <Action name="sync_edit_mode"/>
    <Action name="edit_playlist_item"/>
    <Separator />
    <Action name="view_arts_control"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Separator />
    <Action name="showmenu"/>
    <Action name="showtoolbar"/>
    <Action name="showstatusbar"/>
    <Separator />
    <Action name="configkeys"/>
    <Action name="configtoolbars"/>
    <Action name="configure"/>
  </Menu>
</MenuBar>
<ActionProperties>
  <Action name="new_window" icon="window_new"/>
  <Action name="play" icon="player_play"/>
  <Action name="pause" icon="player_pause"/>
  <Action name="stop" icon="player_stop"/>
  <Action shortcut="F" name="view_fullscreen" />
  <Action shortcut="R" name="play" />
  <Action shortcut="P" name="pause" />
  <Action shortcut="S" name="stop" />
  <Action shortcut="F2" name="edit_playlist_item"/>
  <Action shortcut="C" name="view_arts_control" />
</ActionProperties>
<ToolBar name="mainToolBar"><text></text>
  <Action name="new_window"/>
  <Action name="open"/>
  <Separator/>
  <Action name="play"/>
  <Action name="pause"/>
  <Action name="stop"/>
  <Separator/>
  <Action name="view_fullscreen"/>
  <Action name="view_zoom_100"/>
  <Separator/>
  <Action name="view_video"/>
  <Action name="view_playlist"/>
  <Action name="sync_edit_mode"/>
  <Separator/>
  <Action name="configure"/>
  <Separator/>
  <Action name="vdr_key_up"/>
  <Action name="vdr_key_down"/>
  <Action name="vdr_key_back"/>
  <Action name="vdr_key_ok"/>
  <Action name="vdr_key_menu"/>
</ToolBar>
</kpartgui>
