[Desktop Entry]
Encoding=UTF-8
Name=Embedded MPlayer for KDE
Name[ar]=MPlayer مدمج كيدي
Name[br]=MPlayer enframmet evit KDE
Name[bs]=Ugrađeni MPlayer za KDE
Name[ca]=MPlayer eencastat per a KDE
Name[cs]=MPlayer pro KDE
Name[da]=Indlejret MPlayer for KDE
Name[de]=Eingebetteter MPlayer für KDE
Name[el]=Ενσωματωμένος MPlayer για το KDE
Name[es]=MPlayer embebido para KDE
Name[et]=KDE põimitud MPlayer
Name[fi]=Upotettu MPlayer KDE:lle
Name[fr]=MPlayer intégré pour KDE
Name[hi]=केडीई हेतु एम्बेडेड एमप्लेयर
Name[hu]=Beágyazott MPlayer a KDE-hez
Name[it]=MPlayer integrato per KDE
Name[mk]=Вгнезден MPlayer за KDE
Name[nl]=Ingebedde MPlayer voor KDE
Name[pa]=KDE ਲਈ ਸ਼ਾਮਲ MPlayer
Name[pt]=MPlayer Embebido para o KDE
Name[pt_BR]=MPlayer Integrado ao KDE
Name[ru]=Встроенный MPlayer для KDE
Name[sr]=Угњеждени MPlayer за KDE
Name[sr@Latn]=Ugnježdeni MPlayer za KDE
Name[sv]=Inbäddad Mplayer för KDE
Name[ta]= KDEவிற்கு விதைத்த ஊடக வாசிப்பான்
Name[tr]=KDE için gömülmüş MPlayer
Name[zh_CN]=KDE 嵌入的 MPlayer
Comment=Video player plugin (QuickTime, XMovie, Windows Media and RealPlayer compatible)
Comment[cs]=Modul video přehrávače (kompatibilní s QuickTime, XMovie, Windows Media a RealPlayer)
Comment[da]=Videoafspiller plugin (QuickTime, XMovie, Windows Media og RealPlayer kompatibel)
Comment[el]=Πρόσθετο αναπαραγωγέα βίντεο (συμβατό με QuickTime, XMovie, Windows Media και RealPlayer)
Comment[es]=Complemento de reproducción de vídeo (compatible con QuickTime, XMovie, Windows Media y RealPlayer)
Comment[et]=Videomängija plugin (QuickTime, XMovie, Windows Media ja RealPlayer)
Comment[fr]=Module de lecture de vidéos (compatible QuickTime, XMovie, Windows Media et RealPlayer)
Comment[hi]=वीडियो प्लेयर प्लगइन (क्विक-टाइम, एक्समूवी, विंडोज़ मीडिया तथा रीयल-प्लेयर कंपेटिबल)
Comment[it]=Plugin lettore video (compatibile con QuickTime, XMovie, Windows Media e RealPlayer)
Comment[mk]=Приклучок за видеоизведувач (компатибилен со QuickTime, XMovie, Windows Media и RealPlayer)
Comment[nl]=Videospelerplugin (ondersteuning voor Quicktime, XMovie, Windows Media- en RealAudio-speler)
Comment[pa]=ਵੀਡਿਆ ਪਲੇਅਰ ਪਲੱਗਿੰਨ (QuickTime, XMovie, Windows Media ਅਤੇ RealPlayer ਅਨੁਕੂਲ)
Comment[pt]='Plugin' de reprodução de vídeo (compatível com QuickTime, XMovie, Windows Media e RealPlayer)
Comment[pt_BR]=plug-in de reprodução de vídeo (compatível com QuickTime, XMovie, Windows Media e RealPlayer)
Comment[ru]=Модуль видеоплеера (совместимый с QuickTime, XMovie, Windows Media и RealPlayer)
Comment[sr]=Прикључак за пуштање видеа (компатибилан са: QuickTime, XMovie, Windows Media, RealPlayer)
Comment[sr@Latn]=Priključak za puštanje videa (kompatibilan sa: QuickTime, XMovie, Windows Media, RealPlayer)
Comment[sv]=Insticksprogram för videospelare (fungerar med Quicktime, Xmovie, Windows Media och Realplayer)
Comment[ta]=வீடியோ சொருகி(விரைவுநேரம், Xபடம், Windows படம் மற்றும் RealPlayer compatible)
Comment[tr]=Video oynatıcı eklentisi (QuickTime, XMovie, Windows Media ve RealPlayer ile uyumlu)
X-KDE-Library=libkmplayerpart
# Keep in sync with the audio types in kmplayer.desktop
MimeType=audio/x-mp3;audio/m3u;audio/mpegurl;audio/x-m3u;audio/x-ms-wma;audio/x-pn-realaudio;audio/x-scpls;audio/x-vorbis;application/x-kmplayer;application/x-mplayer2;application/x-ogg;audio/x-mp2;video/mpeg;audio/x-mpegurl;audio/x-wav;audio/x-mod;video/mediaplayer;video/x-avi;video/x-ms-asf;video/x-ms-wmp;video/x-ms-wmv;video/x-msvideo;video/quicktime;video/x-flic;uri/mms;uri/pnm;
Type=Service
Icon=kmplayer
ServiceTypes=KParts/ReadOnlyPart,Browser/View,KMediaPlayer/Player
X-KDE-BrowserView-PluginsInfo=kmplayer/pluginsinfo
InitialPreference=9
