[Desktop Entry]
Type=Application
Exec=kmplayer -caption "%c" %i %U
Icon=kmplayer
X-DocPath=kmplayer/index.html
Comment=KDE interface for MPlayer
Comment[x-test]=xxKDE interface for MPlayerxx
Terminal=false
Name=KMPlayer
Name[x-test]=xxKMPlayerxx
MimeType=application/ogg;application/smil;application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-kmplayer;application/x-mplayer2;application/x-ogg;application/xspf+xml;audio/basic;audio/m3u;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-aiff;audio/x-flac;audio/x-m3u;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-mpegurl;audio/x-ms-asx;audio/x-ms-wma;audio/x-musepack;audio/x-mod;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/avi;video/flv;video/mediaplayer;video/mp4;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-flic;video/x-matroska;video/x-ms-asf;video/x-flv;video/x-msvideo;video/x-ms-wmp;video/x-ms-wmv;video/x-ogm;video/x-theora;uri/mms;uri/pnm;uri/rtspt;uri/rtspu;
InitialPreference=7
Categories=Qt;KDE;AudioVideo;
GenericName=Media Player
GenericName[x-test]=xxMedia Playerxx
