# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kmplayer
Comment=KMPlayer Document
Comment[be]=Дакумент KMPlayer
Comment[bg]=Документ за KMPlayer
Comment[cs]=KMPlayer dokument
Comment[csb]=Dokùment KMPlayer
Comment[da]=KMPlayer-dokument
Comment[de]=KMPlayer-Dokument
Comment[el]=Έγγραφο KMPlayer
Comment[es]=Documento de KMPlayer
Comment[et]=KMPlayeri dokument
Comment[fr]=Document KMPlayer
Comment[ga]=Cáipéis KMPlayer
Comment[gl]=Documento de KMPlayer
Comment[it]=Documento KMPlayer
Comment[ja]=KMPlayer ドキュメント
Comment[km]=ឯកសារ KMPlayer
Comment[ku]=Belgeya KMLêdar
Comment[lv]=KMPlayer dokuments
Comment[nb]=KMPlayer-dokument
Comment[nds]=KMPlayer-Dokment
Comment[nl]=KMPlayer-document
Comment[pa]=KM-ਪਲੇਅਰ ਡੌਕੂਮੈਂਟ
Comment[pl]=Dokument KMPlayera
Comment[pt]=Documento do KMPlayer
Comment[pt_BR]=Documento do KMPlayer
Comment[ro]=Document KMPlayer
Comment[ru]=Файл KMPlayer
Comment[sv]=Kmplayer-dokument
Comment[th]=เอกสาร KMPlayer
Comment[tr]=KMPlayer Belgesi
Comment[uk]=Документ KMPlayer
Comment[x-test]=xxKMPlayer Documentxx
Comment[zh_CN]=KMPlayer 文档
Icon=kmplayer
Type=MimeType
X-KDE-AutoEmbed=true
