# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kmplayer
Comment=KMPlayer Document
Comment[br]=Teul KMPlayer
Comment[bs]=KMPlayer dokument
Comment[ca]=Document KMPlayer
Comment[cs]=KMPlayer dokument
Comment[da]=KMPlayer-dokument
Comment[de]=KMPlayer-Datei
Comment[el]=Έγγραφο KMPlayer
Comment[es]=Documento de KMPlayer
Comment[fi]=KMPlayer-asiakirja
Comment[fr]=Document de KMPlayer
Comment[hi]=केएमप्लेयर दस्तावेज
Comment[hu]=KMPlayer-dokumentum
Comment[it]=Documento KMPlayer
Comment[mk]=Документ на KMPlayer
Comment[nl]=KMPlayer-document
Comment[pt]=Documento do KMPlayer
Comment[pt_BR]=Documento do KMplayer
Comment[ru]=Файл KMPlayer
Comment[sr]=KMPlayer-ов документ
Comment[sr@Latn]=KMPlayer-ov dokument
Comment[sv]=Kmplayer-dokument
Comment[ta]=கேஎம்இயக்கி ஆவணம்
Comment[tr]=KMPlayer Belgesi
Comment[zh_CN]=KMPlayer 文档
Icon=kmplayer
Type=MimeType
X-KDE-AutoEmbed=true
