[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=MS Media Format
Comment[be]=MS медыяфармат
Comment[bg]=MS формат на медия
Comment[csb]=Fòrmat MS Media
Comment[el]=Μορφή πολυμέσων MS
Comment[es]=Formato multimedia de Microsoft 
Comment[et]=MS Media vorming
Comment[fr]=Format MS Media
Comment[ga]=Formáid Meán Microsoft
Comment[gl]=Formato de Medios de MS
Comment[ja]=MS Media フォーマット
Comment[km]=ទ្រង់ទ្រាយ​មេឌៀ MS
Comment[lv]=MS mediju formāts
Comment[nb]=MS mediaformat
Comment[nds]=MS-Medienformaat
Comment[nl]=MS mediaformaat
Comment[pl]=Format MS Media
Comment[pt]=Formato Multimédia Microsoft
Comment[pt_BR]=Formato Multimídia Microsoft
Comment[ro]=Format MS Media
Comment[sv]=MS-mediaformat
Comment[th]=รูปแบบสื่อ MS Media
Comment[tr]=MS Medya Biçimi
Comment[uk]=Формат MS Media
Comment[x-test]=xxMS Media Formatxx
Comment[zh_CN]=MS 媒体格式
MimeType=application/x-mplayer2
Icon=multimedia
Patterns=*.asx;*.ASX;*.asf;*.ASF;
X-KDE-AutoEmbed=true
