[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=MS Media Format
Comment[af]=MS Media Formaat
Comment[ar]= ضيغة MS Media
Comment[be]=MS медыяфармат
Comment[bg]=MS формат на медия
Comment[br]=Furmad MS Media
Comment[bs]=MS Media format
Comment[ca]=Format multimèdia de Microsoft
Comment[cs]=MS média formát
Comment[csb]=Fòrmat MS Media
Comment[da]=MS Medie-Format
Comment[de]=MS-Media-Format
Comment[el]=Μορφή πολυμέσων MS
Comment[es]=Formato multimedia de Microsoft
Comment[et]=MS Media vorming
Comment[fr]=Format multimédia Microsoft
Comment[gl]=Formato Multimédia de Microsoft
Comment[he]=תבנית מדיה של חלונות
Comment[hi]=एमएस मीडिया फॉर्मेट
Comment[hu]=MS Media fájl
Comment[it]=Formato media MS
Comment[ja]=MS Media フォーマット
Comment[ka]=MS Media-ის ფორმატი
Comment[mk]=Мултимедијален формат на MS
Comment[nb]=Microsoft Media-format
Comment[nl]=MS mediaformaat
Comment[pa]=MS ਮੀਡਿਆ ਫਾਰਮੈਟ
Comment[pt]=Formato Multimédia Microsoft
Comment[pt_BR]=Formato de Mídia MS
Comment[ru]=Формат MS Media
Comment[sk]=MS Media formát
Comment[sr]=MS формат медија
Comment[sr@Latn]=MS format medija
Comment[sv]=MS-mediaformat
Comment[ta]=எம்எஸ் ஊடக வடிவம்
Comment[th]=รูปแบบ MS Media
Comment[tr]=MS Medya Biçimi
Comment[uk]=Формат MS Media
Comment[xx]=xxMS Media Formatxx
Comment[zh_CN]=MS Media 格式
Comment[zh_TW]=MS 媒體格式
MimeType=application/x-mplayer2
Icon=multimedia
Patterns=*.asx;*.ASX;*.asf;*.ASF;
X-KDE-AutoEmbed=true
