[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=MS Media Format
MimeType=application/x-mplayer2
Icon=multimedia
Patterns=*.asx;*.ASX;*.asf;*.ASF;
X-KDE-AutoEmbed=true
